//Warning: if you set any value to zero (besides bools), it will be ignored
{
	/* This option allows the NIMBY setting of lab machines to be toggled
		on or off; If you disable the daemon, it will revert to the default
		blade NIMBY configuration. If this is false, no other settings will have
		any effect. The OnlyWeekends option will only enable the daemon on weekends
		(Saturday and Sunday).
	*/
	"EnableDaemon": true,		//bool
	"OnlyWeekends": false,		//bool

	/* Only allows lab machines on the farm during a certain time zone. They can
		be on the farm between TimeStart and TimeEnd. These times should be specified
		in hours, using military time. Use decimals for specifying times less than an hour.
		For example, 8:30pm would be 20.5. If the OnlyWeekdays option is set, the time
		restriction will only apply to weekdays (Mon-Fri)
	*/
	"EnableTimeZone": false,	//bool
	"OnlyWeekdays": true,		//bool
	"TimeStart": 23,			//float
	"TimeEnd": 8.5,				//float

	/* By default, the daemon will only add the lab computer to the farm when nobody is
		logged in. However, sometimes, a user will leave their computer running for a long time
		without using it. We can use this down time to render jobs on their computer. If
		EnableIdle is true, the daemon will detect when the computer is idle and allow
		farm access. An idle computer is defined as:
			NIMBY on:
				- No XServer communication (e.g. user interaction) has persisted for BusyTime
					seconds, for IdleLoginTime seconds
				- Processor load is less than IdleProcessorLoad
			NIMBY off:
				- No XServer communication has persisted for more than BusyTime seconds
	*/
	"EnableLoginIdle": true,	//bool
	"IdleLoginTime": 600,		//int
	"BusyTime": 7,				//int
	"IdleProcessorLoad": 1.0,	//float

	/* You may want to disable farm access when nobody is logged in, but you think someone might
		use the machine soon. This option makes sure the computer is idle during logout, before
		allowing farm access. 
	*/
	"EnableLogoutIdle": true,	//bool
	"IdleLogoutTime": 60,		//int

	/* This setting controls how often the daemon will query the system state. These values are
		all in seconds; they determine the maximum delay in detecting a change in the system.
	*/
	"QFreqX": 4,
	"QFreqLogin": 20,
	"QFreqLoad": 30,
	"QFreqConfig": 600,

	/* A log file is used to track all errors on a blade. This specifies the log file location */
	"LogFile": "/opt/pixar/NIMBYDaemon.log"
}
